@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

/* primary: bright, secondary: light, tertiary: dark */
:root {
    --primary: lightgray;
    --secondary: orange;
    --warning: yellow;
    --danger: red;
    --background-primary: rgb(30, 30, 30);
    --background-secondary: rgb(50, 50, 50);
    --background-tertiary: rgb(75, 75, 75);
    --border-primary: 1px solid var(--background-tertiary);
    --border-secondary: 1px solid var(--primary);
    --border-tertiary: 1px solid var(--secondary);
    --border-danger: 1px solid var(--danger);
    --border-radius: 0.3125em;
    --box-shadow: 1px 1px 4px 2px rgba(50, 50, 50, 0.2);
    --font-primary: "Noto Sans Mono";
    --font-secondary: "Roboto Mono", monospace;
    --font-tertiary: "Rubik Mono One", sans-serif;
    --font-family: "Noto Sans Mono", Monospace, Arial, Helvetica, Times;
    --font-size-small: 0.75em;
    --font-size-regular: 0.875em;
    --font-size-header: 1em;
    --screen-max-width: 48em;
    --duration: 500ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-primary);
    color: var(--primary);
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
}

canvas {
    display: block;
    margin: 10px auto;
    outline: var(--border-primary);
    border-radius: 10px;
}

.debug {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
    color: var(--primary);
    background: var(--background-secondary);
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted var(--primary);
}

.tooltip:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 125px;
    outline: var(--border-primary);
    background-color: var(--background-primary);
    color: var(--primary);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: opacity var(--duration) ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 150%;
}

.tooltip:hover:before {
    opacity: 1;
    visibility: visible;
}

#navigator {
    align-items: center;
    background-color: var(--background-secondary);
    border-bottom: var(--border-primary);
    border-radius: var(--border-radius);
    min-height: 3.125em;
    padding: 0.3125em;
    display: flex;
    flex-flow: row wrap;
    transition: all var(--duration) ease-in-out;
}

#navigator h1,
#navigator nav {
    flex: 1 1;
}

#navigator h1 {
    justify-content: start;
}

#navigator h1 a {
    border: none;
    color: var(--primary);
    outline: none;
    text-decoration: none;
    text-transform: lowercase;
    transition: all var(--duration) ease-in-out;
}

#navigator h1 a:hover,
#navigator h1 a:focus,
#navigator h1 a:active {
    color: var(--secondary);
}

#navigator nav {
    display: flex;
    justify-content: end;
}

#navigator nav a {
    background: var(--background-secondary);
    border: var(--border-primary);
    border-radius: var(--border-radius);
    color: var(--primary);
    cursor: pointer;
    margin: 5px;
    outline: none;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all var(--duration) ease-in-out;
}

#navigator nav a:hover,
#navigator nav a:focus,
#navigator nav a:active {
    border: var(--border-tertiary);
    color: var(--secondary);
}

#navigator button {
    background: var(--background-secondary);
    border: var(--border-primary);
    border-radius: var(--border-radius);
    color: var(--primary);
    cursor: pointer;
    margin: 5px;
    outline: none;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all var(--duration) ease-in-out;
    outline: none;
}

#navigator button:hover,
#navigator button:focus,
#navigator button:active {
    border: var(--border-tertiary);
    color: var(--secondary);
}

#navigator button:hover:last-child,
#navigator button:focus:last-child,
#navigator button:active:last-child {
    border: var(--border-danger);
    color: var(--danger);
}
@media(max-width: 48em) {
    #navigator {
        align-items: center;
        border: none;
        flex-flow: column nowrap;
        justify-content: center;
    }

    #navigator h1 {
        align-items: center;
        border-bottom: var(--border-secondary);
        display: flex;
        justify-content: center;
        margin: 0 5px 10px;
        padding: 10px;
        width: 100%;
    }

    #navigator nav {
        display: flex;
        flex: 1 1 100%;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
    }

    #navigator nav a {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
    }
}
